html,body{
        background-color: #f9f9f9;
        font-family: 'Manrope', sans-serif;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
}

.wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
}

/* HEADER */

header {
        text-align: center;
        height: 90px;
        background-color: #7c4958;
        border-bottom: 2px solid #443435;        
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        position: relative;
        z-index: 1001;
        user-select: none;
}

.button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        position: absolute;
        left: 50px;
        text-decoration: none;
        color: #FFFFFFFF;
        font-size: 16px;
}

.button img {
        width:40px;
        height:40px;
}

.button p {
        margin: 0;
}

.logo {
        display: flex;
        justify-content: center;
        top:5px;
        position: relative;
}

.logo img {
        width: 100px;
}

.authors {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        position: absolute;
        right: 30px;
        cursor: pointer;
}

.authors p {
        margin:0px;
        color: #FFFFFFFF;
        font-size: 20px;
}
.authors a {
        margin-top:5px;
}

.authors img {
        width:30px;
}

/* MEDIA */

@media only screen and (max-width:400px) {

        header {
                height: 150px;
                padding: 0px 10px 10px;
                flex-direction: column;
        }
            
        .logo {
                order: 1;
        }

        .button {
                font-size: 12px;
        }

        .authors {
                margin-top:5px;
                position: relative;
                order: 2;
                left: 0;
                padding-left:10px;
                cursor: pointer;
        }
        .sidebar {
                position: fixed;
                top:150px;
        }

        .sidebar:hover {
                height: 100vh;
                width: 100%;
        }

        .name h1 {
                font-size: 60px;
                line-height: 100px;
        }

        .name p {
                width: 300px;
                font-size: 12px;
                font-weight: 900;
                line-height: 20px;
        }

        .name {
                height: calc(100vh - 150px);
        }

        .advantages {
                block-size: fit-content;
        }

        .advantages h2 {
                font-size: 50px;
        }

        .adv_row {
                flex-direction: column;
                gap: 20px;
        }

        .adv_column {
                width: 300px;
        }

        .adv_column img {
                width: 75px;
        }

        .adv_column p {
                font-size: 16px;
                font-weight: 300;
        }

        .adv_column {
                font-size: 22px;
        }
}

@media only screen and (min-width: 401px) and (max-width:700px) {
        header {
                height: 150px;
                padding: 0px 10px 10px;
                flex-direction: column;
        }
            
        .logo {
                order: 1;
        }

        .button {
                font-size: 12px;
        }

        .authors {
                margin-top:5px;
                position: relative;
                order: 2;
                left: 0;
                padding-left:10px;
                cursor: pointer;
        }
        .sidebar {
                position: fixed;
                top:150px;
        }

        .sidebar:hover {
                height: 390px;
                width: 220px;
        }

        .name h1 {
                font-size: 60px;
                line-height: 100px;
        }

        .name p {
                width: 340px;
                font-size: 14px;
                font-weight: 900;
                line-height: 20px;
        }

        .name {
                height: calc(100vh - 150px);
        }

        .advantages {
                block-size: fit-content;
        }

        .advantages h2 {
                font-size: 50px;
        }

        .adv_row {
                flex-direction: column;
                gap: 20px;
        }

        .adv_column {
                width: 350px;
        }

        .adv_column img {
                width: 75px;
        }

        .adv_column p {
                font-size: 16px;
                font-weight: 300;
        }

        .adv_column {
                font-size: 22px;
        }
}

@media only screen and (min-width: 701px) and (max-width: 1140px) {

        .sidebar {
                position: fixed;
                top: 90px;
        }
        
        .sidebar:hover {
                height: 390px;
                width: 220px;
        }

        .name h1 {
                font-size: 60px;
                line-height: 110px;
        }

        .name p {
                width: 700px;
                font-size: 26px;
                font-weight: 900;
                line-height: 40px;
        }

        .name {
                height: calc(100vh - 90px);
        }

        .adv_row {
                flex-direction: column;
                gap: 20px;
        }

        .advantages {
                block-size: fit-content;
        }

        .advantages h2 {
                font-size: 50px;
        }
        
        .adv_column {
                width: 500px;
        }

        .adv_column img {
                width: 120px;
        }

        .adv_column p {
                font-size: 16px;
                font-weight: 300;
        }

        .adv_column h3 {
                font-size: 24px;
        }

    }


@media only screen and (min-width:1141px) and (max-width:1800px){
        .sidebar {
                position: fixed;
                top: 90px;
        }
        
        .sidebar:hover {
                height: 390px;
                width: 220px;
        }

        .name h1 {
                font-size: 60px;
                line-height: 110px;
        }

        .name p {
                width: 700px;
                font-size: 26px;
                font-weight: 900;
                line-height: 40px;
        }

        .name {
                height: calc(100vh - 90px);
        }

        .advantages{
                block-size: fit-content;
        }

        .advantages h2 {
                font-size: 60px;
        }

        .adv_row {
                flex-direction: row;
                gap: 140px;
        }
        
        .adv_column {
                width: 500px;
        }

        .adv_column img {
                width: 150px;
        }

        .adv_column p {
                font-size: 20px;
                font-weight: 300;
        }

        .adv_column h3 {
                font-size: 26px;
        }
        
}

@media only screen and (min-width:1801px) {
        .sidebar {
                position: fixed;
                top: 90px;
        }

        .sidebar:hover {
                height: 390px;
                width: 220px;
        }
        
        .name h1 {
                font-size: 60px;
                line-height: 110px;
        }

        .name p {
                width: 700px;
                font-size: 26px;
                font-weight: 900;
                line-height: 40px;
        }

        .name {
                height: calc(100vh - 90px);
        }

        .advantages{
                height: calc(100vh - 76px);
        }

        .advantages h2 {
                font-size: 60px;
        }

        .adv_row {
                flex-direction: row;
                gap: 140px;
        }
        
        .adv_column {
                width: 500px;
        }

        .adv_column img {
                width: 150px;
        }

        .adv_column p {
                font-size: 20px;
                font-weight: 300;
        }

        .adv_column h3 {
                font-size: 26px;
        }

}

/* SIDEBAR */

.sidebar {
        width: 60px;
        height: 78px;
        box-sizing: border-box;
        padding: 0px 10px;
        background-color: #bc441000;
        transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
        overflow: hidden;
        z-index: 1001;
        user-select: none;
}

.sidebar.sticky {
        top: 0px;
}

.sidebar.collapsed {
        width: 60px;
        height: 78px;
}

.sidebar a {
        color: #FFFFFFFF;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
}

.item__text p {
        color: #FFFFFFFF;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        margin: 0px;
}

.sidebar a:active {
        color: #FFFFFFFF;
} 

.sidebar:hover > .sidebar__item > .item__text {
        opacity: 1;
}

hr {
        height: 0.01px;
        color: white;
        margin: 15px 0;
        border: 0.8px solid;
        border-radius: 1px;
}

.sidebar__item {
        display: flex;
        align-items: center;
        margin: 20px 0;
}

.sidebar__item .icon {
        width: 40px;
        height: 38px;
        flex-shrink: 0;
}

.sidebar__item .icon_hover {
        width: 40px;
        height: 38px;
        flex-shrink: 0;
}

/* ANIMATION SIDEBAR */

.sidebar__item .item__text {
        opacity: 0;
        transition: ease-in-out 0.25s;
        margin-left: 15px;
        white-space: nowrap;
}

/* CLOSE BUTTON SIDEBAR */

.close-btn {
        cursor: pointer;
        color: white;
        position: absolute;
        right: 20px;
        font-size: 40px;
}

.sidebar.collapsed .close-btn {
        opacity: 0;
        pointer-events:none;
}

/* MAIN */

main {
        display: flex;
        flex: 1;
        flex-direction: column;
}

/* BLOCK NAME */

.name {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-image: linear-gradient(270deg, #44343582, #fdd1b86d),
                url("/static/pictures/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
}

.name h1 {
        color: #FFFFFFFF;
        margin:0px;
}

.name p {
        color: #FFFFFFFF;
        margin:0px;
}

/* BLOCK ADVANTAGES */

.advantages {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f7f4ed;
        justify-content: center;
        gap: 20px;
        padding: 20px 0px 73px;
}

.advantages h2 {
        margin: 20px 0px 0px;
}

.adv_row {
        display: flex;
}

.adv_column {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.adv_column img {
        user-select: none;
}

.adv_column p {
        text-align: justify;
        text-align-last: center;
}

.adv_column h3 {
        margin-bottom: 0px;
        text-align: center;
}



/* ARROW */

.scroll-button {
        position: absolute;
        bottom: 5px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
    }
    
    .scroll-button .arrow {
        width: 20px;
        height: 20px;
        border-left: 3px solid white;
        border-bottom: 3px solid white;
        transform: rotate(-45deg);
        animation: moveArrow 2s infinite;
    }

    .scroll_up {
        position: absolute;
        bottom: -45px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
    }
    
    .scroll_up .arrow_up {
        width: 20px;
        height: 20px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        transform: rotate(45deg);
        animation: moveArrowUp 2s infinite;
    }
    
    /* –êNIMATION ARROW */

    @keyframes moveArrow {
        0%, 100% {
            transform: rotate(-45deg) translateY(0);
        }
        50% {
            transform: rotate(-45deg) translateY(-5px) translateX(5px);
        }
    }  

    @keyframes moveArrowUp {
        0%, 100% {
            transform: rotate(135deg) translateY(0);
        }
        50% {
            transform: rotate(135deg) translateY(-5px) translateX(5px);
        }
    }

/* FOOTER*/

footer {
        background-color: #7c4958;
        color: white;
        text-align: center;
        padding: 10px;
        border-top: 2px solid #443435;        
        box-sizing: border-box;
        height: 76px;
        align-items: center;
        display: flex;
        justify-content: center;
}
