html,body{
        background-color: #FBFFFE;
        font-family: 'Manrope', sans-serif;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        transition: background-color 0.3s ease, color 0.3s ease;
}

header, .name, .advantages, main, .sidebarp ul, .us, textarea, footer, 
.modal-content, .cropper-modal, .close, .recipe_title {
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
/* LIGHT THEME */

.light-theme {
        --header: #ffffff;
        --background-color: #edeef0;
        --border: #e7e8ec;
        --text-color: #1A1A1A;
        --accent-color: #d98236;
        --secondary-color: #f0b27a;
        --border-radius: #dce1e6;
}
    
/* DARK THEME */

.dark-theme {
        --header: #222222;
        --background-color: #141414;
        --text-color: #f5f5f5;
        --border: #292929;
        --accent-color: #d98236;
        --secondary-color: #f0b27a;
        --border-radius: #363738;
}

.wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
}

html::-webkit-scrollbar {
        width: 0.3vw;
        background-color: transparent;
        margin-top:90px;
}
      
html::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #413233;
}

html::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
        background-color: #FBFFFE;
}


/* HEADER */

header {
        text-align: center;
        height: 90px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        position: relative;
        z-index: 1001;
        user-select: none;

        @media only screen and (max-width:700px) {
                height: 150px;
                padding: 0px 10px 10px;
                flex-direction: column;
        };

}

.dark-theme header {
        background-color: var(--header);
        border-bottom: 2px solid var(--border);
}

.light-theme header {
        background-color: var(--header);
        border-bottom: 2px solid var(--border);
}

.dark-theme .header_index {
        background-color: #222222d7;
        border-bottom: 2px solid #292929d7;
}

.light-theme .header_index {
        background-color: #f5f5f5ad;
        border-bottom: 2px solid #e7e8ecad;
}

.button {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 10px;
        gap: 3px;
        text-decoration: none;
        font-size: 16px;

        @media only screen and (max-width:700px) {
                font-size: 12px;
        };
}

.light-theme .button {
        color: var(--text-color);
}

.dark-theme .button {
        color: var(--text-color);
}

#auth-icon {
        width:40px;
        height:40px;
}

.dark-theme #auth-icon path {
        fill: #f5f5f5;
}

.light-theme #auth-icon path {
        fill: #1A1A1A;
}

.button p {
        margin: 0;
}

.logo {
        display: flex;
        justify-content: center;
        top:5px;
        position: relative;

        @media only screen and (max-width:700px) {
                order: 1;
        };

}

.logo img {
        width: 100px;
}

.authors {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        position: absolute;
        right: 70px;
        cursor: pointer;

        @media only screen and (max-width:700px) {
                margin-top:5px;
                position: relative;
                order: 2;
                left: 0;
                padding-left:10px;
                cursor: pointer;
        };
}

.authors p {
        margin:0px;
        font-size: 20px;
}

.light-theme .authors p {
        color: var(--text-color);
}

.dark-theme .authors p {
        color: var(--text-color);
}

.authors a {
        margin-top:5px;
}

.authors img {
        width:30px;
}

.theme {
        position: absolute;
        right: 10px;
        width: 40px;
        height: 40px;
        cursor: pointer;
}

.dark-theme .theme path {
        fill: #f5f5f5;
}

.light-theme .theme path {
        fill: #1A1A1A;
}

/* SIDEBAR */

#home, #programm, #recipe, #user, #pigs {
        width: 40px;
        height: 38px;
}

.dark-theme #home path, .dark-theme #programm path, .dark-theme #recipe path, .dark-theme #user path, .dark-theme #pigs path{
        fill: #f5f5f5;
}

.light-theme #home path, .light-theme #programm path, .light-theme #recipe path, .light-theme #user path, .light-theme #pigs path{
        fill: #1A1A1A;
}


.sidebar {
        box-sizing: border-box;
        padding: 0px 10px;
        transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
        overflow: hidden;
        z-index: 1001;
        user-select: none;
        position: fixed;
}

.dark-theme .sidebar {
        background-color: var(--border);
}
        
.light-theme .sidebar{
        background-color: var(--border);
}

.sidebar.collapsed {
        background-color: transparent;
}

.sidebar:hover {
        @media (orientation: landscape) {
                height: 332px;
                width: 220px;
                border-radius: 0 0 60px 0;
        };

        @media (orientation: portrait) {
                height: 100vh;
                width: 100%;
        };
}

.sidebar.sticky {
        top: 0px;
}

.sidebar.collapsed {
        width: 60px;
        height: 78px;
}

.sidebar a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
}

.dark-theme .sidebar a {
        color: var(--text-color);
}

.light-theme .sidebar a {
        color: var(--text-color);
}

.item__text p {
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        margin: 0px;
}

.dark-theme .item__text p {
        color: var(--text-color);
}

.light-theme .item__text p {
        color: var(--text-color);
}

.dark-theme .sidebar a:active {
        color: var(--text-color);
}

.light-theme .sidebar a:active {
        color: var(--text-color);
}

.sidebar:hover > .sidebar__item > .item__text {
        opacity: 1;
}

.shr {
        height: 0.01px;
        margin: 15px 0;
        border: 0.8px solid;
        border-radius: 1px;
}

.dark-theme .shr {
        color: var(--text-color);
}

.light-theme .shr {
        color: var(--text-color);
}

.sidebar__item {
        display: flex;
        align-items: center;
        margin: 20px 0;
}

.sidebar__item .icon {
        width: 40px;
        height: 38px;
        flex-shrink: 0;
}

.sidebar__item .icon_hover {
        width: 40px;
        height: 38px;
        flex-shrink: 0;
}

/* ANIMATION SIDEBAR */

.sidebar__item .item__text {
        opacity: 0;
        transition: ease-in-out 0.25s;
        margin-left: 15px;
        white-space: nowrap;
}

/* CLOSE BUTTON SIDEBAR */

.close-btn {
        cursor: pointer;
        position: absolute;
        right: 20px;
        font-size: 40px;
}

.dark-theme .close-btn {
        color: var(--text-color);
}

.light-theme .close-btn {
        color: var(--text-color);
}

.sidebar.collapsed .close-btn {
        opacity: 0;
        pointer-events:none;
}

/* MAIN */

main {
        display: flex;
        flex: 1;
        flex-direction: column;
}

.dark-theme main {
        background-color: var(--background-color);
}

.light-theme main {
        background-color: var(--background-color);
}

/* BLOCK NAME */

.name {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        background-position: center;

        @media only screen and (max-width:700px) {
                height: 100vh;
                margin-top: -150px;
        };

        @media only screen and (min-width: 701px) {
                height: 100vh;
                margin-top: -90px;
        };
}

.light-theme .name {
        background-image: linear-gradient(270deg, #1A1A1A82, #e7e8ec2e),
                url("/static/pictures/index/background.jpg");
}

.dark-theme .name {
        background-image: linear-gradient(270deg, #141414b5, #22222280), 
                url(/static/pictures/index/background.jpg);
}

.name h1 {
        color: #FFFFFFFF;
        margin:0px;

        @media only screen and (max-width:700px) {
                font-size: 60px;
                line-height: 100px;
        };

        @media only screen and (min-width: 701px) {
                font-size: 60px;
                line-height: 110px;
        };
}

.name p {
        color: #FFFFFFFF;
        margin:0px;

        @media only screen and (max-width:400px) {
                width: 300px;
                font-size: 12px;
                font-weight: 900;
                line-height: 20px;
        };

        @media only screen and (min-width: 401px) and (max-width:700px) {
                width: 340px;
                font-size: 14px;
                font-weight: 900;
                line-height: 20px;
        };

        @media only screen and (min-width: 701px) {
                width: 700px;
                font-size: 26px;
                font-weight: 900;
                line-height: 40px;
        };
}

/* BLOCK ADVANTAGES */

.advantages {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px 0px 73px;
        flex: 1;
        min-height: calc(100vh - 169px);

}

.light-theme .advantages {
        background-color: var(--background-color);
}

.dark-theme .advantages {
        background-color: var(--background-color);
}

.advantages h2 {
        margin: 20px 0px 0px;

        @media only screen and (max-width:1140px) {
                font-size: 50px;
        };
        
        @media only screen and (min-width:1141px) {
                font-size: 60px;
        };

}

.light-theme .advantages h2{
        color: var(--text-color);
}

.dark-theme .advantages h2{
        color: var(--text-color);
}

.adv_row {
        display: flex;
        
        @media only screen and (max-width:1140px) {
                flex-direction: column;
                gap: 20px;
        };

        @media only screen and (min-width:1141px) {
                flex-direction: row;
                gap: 20px;
        };
}

.adv_column {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--header);
        border: 1px solid var(--border-radius);
        padding: 20px;
        border-radius: 30px;

        @media only screen and (max-width:400px) {
                width: 300px;
                font-size: 22px;
        };

        @media only screen and (min-width: 401px) and (max-width:700px) {
                width: 350px;
                font-size: 22px;
        };

        @media only screen and (min-width: 701px) {
                width: 500px;
        };
}

.adv_column img {
        user-select: none;
        
        @media only screen and (max-width:700px) {
                width: 75px;
        };

        @media only screen and (min-width: 701px) and (max-width: 1140px) {
                width: 120px;
        };

        @media only screen and (min-width:1141px) {
                width: 150px;
        };
}

.dark-theme .adv_column img{
        filter: brightness(60%);
}

.adv_column p {
        text-align: justify;
        text-align-last: center;

        @media only screen and (max-width:1140px) {
                font-size: 16px;
                font-weight: 300;
        };

        @media only screen and (min-width:1141px) {
                font-size: 20px;
                font-weight: 300;
        };
}

.light-theme .adv_column p {
        color: var(--text-color);
}

.dark-theme .adv_column p {
        color: var(--text-color);
}

.adv_column h3 {
        margin-bottom: 0px;
        text-align: center;

        @media only screen and (min-width: 701px) and (max-width: 1140px) {
                font-size: 24px;
        };

        @media only screen and (min-width:1141px) {
                font-size: 26px;
        };
}

.light-theme .adv_column h3 {
        color: var(--text-color);
}

.dark-theme .adv_column h3 {
        color: var(--text-color);
}

/* ARROW */

.scroll-button {
        position: absolute;
        bottom: 5px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
    }
    
    .scroll-button .arrow {
        width: 20px;
        height: 20px;
        transform: rotate(-45deg);
        animation: moveArrow 2s infinite;
        border-left: 3px solid white;
        border-bottom: 3px solid white;
    }

    .scroll_up {
        position: absolute;
        bottom: -45px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
    }
    
    .scroll_up .arrow_up {
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        animation: moveArrowUp 2s infinite;
    }
    
    .dark-theme .arrow_up {
        border-left: 3px solid white;
        border-bottom: 3px solid white;
    }

    .light-theme .arrow_up {
        border-left: 3px solid black;
        border-bottom: 3px solid black;
    }

    /* АNIMATION ARROW */

    @keyframes moveArrow {
        0%, 100% {
            transform: rotate(-45deg) translateY(0);
        }
        50% {
            transform: rotate(-45deg) translateY(-5px) translateX(5px);
        }
    }  

    @keyframes moveArrowUp {
        0%, 100% {
            transform: rotate(135deg) translateY(0);
        }
        50% {
            transform: rotate(135deg) translateY(-5px) translateX(5px);
        }
    }

/* FOOTER*/

footer {
        color: white;
        text-align: center;
        padding: 10px;      
        box-sizing: border-box;
        height: 76px;
        align-items: center;
        display: flex;
        justify-content: center;
}

.dark-theme footer {
        background-color: var(--header);
        border-top: 2px solid var(--border);
        color: var(--text-color)
}

.light-theme footer {
        background-color: var(--header);
        border-top: 2px solid var(--border);
        color: var(--text-color)
}


/* ABOUT.HTML */

.team h1{
        text-align: center;
        margin-bottom: 30px;
        margin-top: 0px;

        @media only screen and (max-width:700px) {
                font-size: 40px;
        };

        @media only screen and (min-width: 701px) {
                font-size: 50px;
        };
}

.light-theme .team h1 {
        color: var(--text-color);
}

.dark-theme .team h1 {
        color: var(--text-color);
}

.us {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px 73px;
        block-size: fit-content;
}

.dark-theme .us {
        background-color: var(--background-color);
}

.light-theme .us {
        background-color: var(--background-color);
}

.us_row {
        display: flex;
        padding: 20px;
        border-radius: 30px;
        border: 1px solid var(--border-radius);
        margin-top: 20px;

        @media only screen and (max-width:400px) {
                flex-direction: column;
                gap: 20px;
                width: 310px;
                align-items: center;
        };

        @media only screen and (min-width:401px) and (max-width:700px) {
                flex-direction: column;
                gap: 20px;
                width: 420px;
                align-items: center;
        };

        @media only screen and (min-width:701px) and (max-width:1200px) {
                flex-direction: column;
                gap: 20px;
                width: 540px;
                align-items: center;
        };

        @media only screen and (min-width:1201px) {
                flex-direction: row;
                gap: 80px;
                width: 1142px;
                justify-content: center;
        };
}

.us_row1 {
        display: flex;

        @media only screen and (max-width:400px) {
                flex-direction: column;
                gap: 20px;
                width: 310px;
                align-items: center;
        };

        @media only screen and (min-width:401px) and (max-width:700px) {
                flex-direction: column;
                gap: 20px;
                width: 420px;
                align-items: center;
        };

        @media only screen and (min-width:701px) and (max-width:1200px) {
                flex-direction: column;
                gap: 20px;
                width: 540px;
                align-items: center;
        };

        @media only screen and (min-width:1201px) {
                flex-direction: row;
                gap: 30px;
                width: 1142px;
                justify-content: center;
        };
}

.dark-theme .us_row {
        background-color: var(--header);
}

.light-theme .us_row {
        background-color: var(--header);
}

.us_column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width:400px) {
                width: 300px;
        };

        @media only screen and (min-width: 401px) and (max-width:700px) {
                width: 380px;
        };

        @media only screen and (min-width: 701px) {
                width: 500px;
        };
}

.us_column p {
        text-align: justify;
        text-align-last: center;
        
        font-weight: 300;

        @media screen and (max-width: 400px){
                font-size: 14px;
        }

        @media screen and (min-width: 401px) {
                font-size: 18px;
        }
}



.us_column h1 {
        margin-bottom: 0px;
        text-align: center;

        @media only screen and (max-width:700px) {
                font-size: 30px;
        };

        @media only screen and (min-width: 701px) {
                font-size: 50px;
        };
}

.light-theme .us_column p {
        color: var(--text-color);
}

.dark-theme .us_column p {
        color: var(--text-color);
}

.light-theme .us_column h1 {
        color: var(--text-color);
}

.dark-theme .us_column h1 {
        color: var(--text-color);
}

.us_column img {
        user-select: none;
        border-radius: 30px;

        @media only screen and (max-width:400px) {
                width: 280px; 
        };

        @media only screen and (min-width: 401px) and (max-width:700px) {
                width: 400px;
        };
}

.dark-theme .us_column img {
        filter: brightness(60%);
}

.ahr {
        height: 0.01px;
        color: var(--accent-color);
        margin: 5px 0 15px;
        border: 2px solid;
        border-radius: 3px;
        width: 100px;
}

.us_column1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width:400px) {
                width: 280px;
        };

        @media only screen and (min-width: 401px) and (max-width:700px) {
                width: 380px;
        };

        @media only screen and (min-width: 701px) and (max-width: 1200px) {
                width: 300px;
        };

        @media only screen and (min-width: 1201px) {
                width: 350px;
        };
}

.us_column1 p {
        text-align: center;
        text-align-last: center;
        font-size: 18px;
        font-weight: 300;
}

.us_column2 {
        align-items: center;
        display: flex;
        flex-direction: column;
}

.light-theme .us_column1 p {
        color: var(--text-color);
}

.dark-theme .us_column1 p{
        color: var(--text-color);
}

.light-theme .us_column1 h2 {
        color: var(--text-color);
}

.dark-theme .us_column1 h2 {
        color: var(--text-color);
}


.us_column1 img {
        user-select: none;
}

.circle-image{
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 5px;

        @media screen and (max-width: 400px) {
                width: 250px;
                height: 250px;
        }
        @media screen and (min-width: 401px) {
                width: 300px;
                height: 300px;
        }
}

.circle-image img{
        width:100%;
        height:100%;
        object-fit: cover;
}

/* LOGOUT BUTTON */

.logout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        position: absolute;
        left: 10px;
        top:10px;
        background-color: #00000000;
        border-color: #00000000;
        text-decoration: none;
        color: #FFFFFFFF;
        font-size: 16px;
        cursor: pointer;
        padding: 0px;

        @media only screen and (max-width:700px) {
                font-size: 12px;
                top: 39px;
        };
}

.light-theme .logout{
        color: var(--text-color);
}

.dark-theme .logout {
        color: var(--text-color);
}

#logout-icon {
        width: 40px;
        height: 40px;
}

.dark-theme #logout-icon path {
        fill: #f5f5f5;
}

.light-theme #logout-icon path {
        fill: #1A1A1A;
}

.logout p {
        margin: 0;
        font-family: 'Manrope', 'sans-serif';
}

/* ERROR STYLES */

.messages{
        justify-content: center ;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        list-style-type: none;
        z-index: 1002;
    
        @media only screen and (max-width:700px) {
            font-size: 14px;
            font-weight: 500;
            padding: 0px;
        };
    
        @media only screen and (min-width:701px) {
            margin: 20px 0;
            padding: 10px;
            top: 90px;
            flex-direction: row;
            position: absolute;
            font-size: 14px;
            font-weight: 600;
            border-radius: 20px;
        };
    }
    
    .messages.has-success {
        background-color: #f9f9f9; 
        color: #000000;
        @media only screen and (min-width:701px) {
            border: 0.5px solid #0cb84b;
        };
    }
    
    .messages.has-error {
        background-color: #ffeae7; 
        color: #732014;
        @media only screen and (min-width:701px) {
            border: 0.5px solid #dc1110;
        };
    }
    
    .errorlist {
        list-style-type: none;
    }
    
    li.success {
        margin-left: 5px;
    }
    
    li.error {
        margin-left: 5px;
    }
    
    .messages-popup {
    
        @media (max-width: 700px) {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 10px;
            top: 0px;
            padding: 5px;
            width: 100vw;
            height: 150px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1002;
        };
    
        @media (min-width: 701px) {
            display: flex;
            justify-content: center;
        };
    }
    
    .messages-popup.hav-error {
        @media (max-width: 700px) {
            color: #732014;
            background-color: #ffeae7;
            border: 2px solid #dc1110;
        };
    }
    
    .messages-popup.hav-success {
        @media (max-width: 700px) {
            color: #000000;
            background-color: #f9f9f9;
            border: 2px solid #0cb84b;
        };
    }
    
    .messages-popup p {
        @media (max-width: 700px) {
            color: black;
            font-size: 14px;
            font-weight: 900;
            width: -webkit-fill-available;
            padding: 0px;
        };
    
        @media only screen and (min-width:701px) {
            display: none;
        };
    }
    
    .messages .close-button {
        @media only screen and (max-width:700px) {
            position: absolute;
            top: 0px;
            font-size: 40px;
            right: 10px;
        };
    
        @media only screen and (min-width:701px) { 
            font-size: 30px;
            cursor: pointer;
            display: flex;
            height: 19px;
            margin-left: 10px;
            align-items: center;
        }
    }

/* PROFILE */

.svg-li {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 10px;
        top: 12px;
        transform: scale(1.5);
}

.svg-li1 {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 12px;
        top: 12px;
        transform: scale(1.5);
}

.light-theme .svg-li path {
        fill: black;
}

.dark-theme .svg-li path {
        fill: white;
}

.light-theme .svg-li1 path {
        fill: black;
}

.dark-theme .svg-li1 path {
        fill: white;
}

.sidebarp {
        width: 220px;
        position: relative;
        z-index: 1;
        @media only screen and (min-width:1100px) {
                left: -370px;
                top: 21px;
                height: 0px;
        };
        @media only screen and (max-width:1100px) {
                height: 129px;
                margin: 20px 0;
        };
    }
    
    .sidebarp ul {
        list-style: none;
        padding: 0;
        border-radius: 10px;
    }
    
    .light-theme .sidebarp ul {
        background-color: var(--header);
    }

    .dark-theme .sidebarp ul {
        background-color: var(--header);
    }

    .sidebarp ul li {
        padding: 10px;
        padding-left: 40px;
        position: relative;
        border-radius: 10px;
        cursor: pointer;
    }

    .light-theme .sidebarp ul li{
        border-bottom: 1px solid #dce1e6;
        color: var(--text-color);
    }

    .dark-theme .sidebarp ul li{
        border-bottom: 1px solid #363738;
        color: white;
    }
    
    .sidebarp ul li.active {
        font-weight: bold;
    }

    .light-theme .sidebarp ul li.active {
        background-color: #f5f6f8;
    }

    .dark-theme .sidebarp ul li.active {
        background-color: #333333;
    }

    .sidebarp ul li.active .svg-li path {
        fill: var(--accent-color);
    }

    .sidebarp ul li.active .svg-li1 path {
        fill: var(--accent-color);
    }
    
    .content {
        flex-grow: 1;
    }

    .dark-theme .content p {
        color: var(--text-color)
    }

    .light-theme .content p {
        color: var(--text-color)
    }

    #security-info form {
        height: 300px;
    }

    .content-box {
        display: none;
    }
    
    .content-box.active {
        display: block;
    }

    .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    #id_image {
        display: none;
    }
    
    #preview {
        width: 150px;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
        border-radius: 30px;
    }

    #preview1 {
        width: 150px;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
        border-radius: 30px;
    }

   .light-theme .cropper-modal {
        background-color: var(--header) !important;
   }

   .dark-theme .cropper-modal {
        background-color: var(--header) !important;
   }

    .cropper-bg {
        background-image: none !important; 
    }

    .cropper-view-box {
        border: 0 solid #d98236 !important;
        outline: 1px solid #d98236 !important;
    }

    .cropper-line {
        background-color: #d98236 !important;
    }

    .cropper-point {
        background-color: #d98236 !important;
    }

    .cropper-dashed {
        border: 0 dashed #eee !important;
    }

    .cropper-container img {
        height: auto !important;
    }
    
    .cropper-point.point-se {
        height: 5px !important;
        width: 5px !important;
    }

    #imageToCrop {
        width: 100%;
        height: auto; 
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    #cut {
        position: fixed;
        z-index: 1002;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modal-content {
        padding: 20px;
        z-index: 1002;
        overflow: hidden;
        border-radius: 30px;
        text-align: center;
        max-width: 80vw;
        max-height: 80vh
    }

    .light-theme .modal-content {
        background-color: var(--header);
    }

    .dark-theme .modal-content {
        background-color: var(--header);
    }
    
    .close {
        display: flex;
        position: relative;
        right: 10px;
        top: 10px;
        font-size: 50px;
        margin: -30px 0;
        cursor: pointer;
        z-index: 1002;
        flex-direction: row-reverse;
    }

    .light-theme .close {
        color: var(--text-color);
    }

    .dark-theme .close {
        color: var(--text-color);
    }

    .dish {
        background-color: #ccc;
    }

    .dark-theme #preview {
        border: 1px solid var(--border-radius);
    }

    .light-theme #preview {
        border: 1px solid var(--border-radius);
    }

/* POST */

.new_post {
        position: absolute;
        right: 10px;
        text-decoration: none;
        font-size: 16px;
        padding: 10px;
        border-radius: 30px;

        @media only screen and (max-width:700px) {
                top: 160px;
        };

        @media only screen and (min-width:700px) {
                top: 100px;
        };
}

.dark-theme .new_post{
        border: 2px solid var(--border-radius);
        background-color: var(--header);
        color: var(--text-color);
}

.light-theme .new_post {
        border: 2px solid var(--border-radius);
        background-color: var(--header);
        color: var(--text-color);
}

.recipe_title {
        width: 500px;
        height: 50px;
        border-radius: 30px;
}

.dark-theme .recipe_title {
        border: 2px solid var(--border-radius);
        background-color: var(--header);
}

.light-theme .recipe_title {
        border: 2px solid var(--border-radius);
        background-color: var(--header);
}

#posts-info a {
        color: #f5f5f5;
        font-size: 12px;
        width: 160px;
        display: flex;
        margin: 0px;
        justify-content: center;
}

.dark-theme #posts-info form {
        color: var(--text-color);
        background: none;
}

.light-theme #posts-info form {
        color: var(--text-color);
        background: none;
}


/* NEW_POST */

.step-form {
        margin: 10px 0;
}

#steps_height h3{
        margin-top: 5px;
        font-size: 30px;
}

.post_column {
        display: flex;
        flex-direction: column;
        width: 300px;
}

.post_row {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        max-width: 300px;
        white-space: nowrap;
}


.light-theme label{
        color: var(--text-color);
}
    
.dark-theme label{
        color: var(--text-color);
}

textarea {
        margin-top: 10px;
        width: 100%;
        height: 200px;
        overflow-y: auto;
        resize: vertical;
        padding: 5px 10px 5px 10px;
        border-radius: 8px;
        max-height: 500px; 
}

.light-theme textarea {
        background-color: var(--header);
        border: 1.75px solid var(--border-radius);
        color: var(--text-color);
}
    
    .dark-theme textarea {
        background-color: var(--header);
        border: 1.75px solid var(--border-radius);
        color: var(--text-color);
}

    textarea:focus {
        border-color: var(--accent-color);
        outline: none;
    }


textarea::placeholder {
        color: var(--text-color);
}

textarea::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    textarea::-webkit-scrollbar-thumb {
        background-color: var(--accent-color);
        border-radius: 10px;
        border: 1px solid #363738;
    }
    
    textarea::-webkit-scrollbar-track {
        background: var(--border-radius);
        border-radius: 10px;
    }

    .centerbox2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        @media only screen and (max-width:700px) {
            block-size: fit-content;
            max-height: 1000px;
        };
    
        @media only screen and (min-width:701px) and (max-width:1300px) {
            block-size: fit-content;
        };
    
        @media only screen and (min-width:1301px) {
            min-height: 500px;
            margin: 100px;
        };
    }

    .container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 0px;
        max-height: 1500px;
        border-radius: 30px;
        padding: 20px;
        
        @media only screen and (min-width:701px) and (max-width:1300px) {
            position: relative;
            overflow: hidden;
            max-width: 100%;
        };
    
        @media only screen and (min-width:1301px) {
            position: relative;
            overflow: hidden;
            max-width: 100%;
            width: 500px;
        };
    }

    .light-theme .container2 {
        background-color: var(--header);
        border: 1px solid var(--border-radius);
    }
    
    .dark-theme .container2 {
        background-color: var(--header);
        border: 1px solid var(--border-radius);
    }

    .container2 form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    .container2 input {
        margin: 8px 0 13px;
        padding: 10px 15px;
        border-radius: 8px;
        width: 100%;
        font-size: 14px;
        font-weight: 900;
        outline: none;
    }
    
    .light-theme .container2 input {
        background-color: var(--header);
        border: 1.75px solid var(--border-radius);
        color: var(--text-color);
        box-shadow: 0 0 0 30px var(--header) inset !important;
    }
    
    .dark-theme .container2 input {
        background-color: var(--header);
        border: 1.75px solid var(--border-radius);
        color: var(--text-color);
        box-shadow: 0 0 0 30px var(--header) inset !important;
    }

    .container2 button {
        background-color: var(--accent-color);
        color: #fff;
        font-size: 12px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
        padding: 10px 45px;
    }

    .container2 .buttona {
        background-color: var(--accent-color);
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        text-align: center;
        width: 255px !important;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 10px !important;
        cursor: pointer;
        padding: 10px 45px;
    }

.light-theme .container2{
        color: var(--text-color);
}
    
.dark-theme .container2{
        color: var(--text-color);
}

.post_img {
        width: 150px;
        border-radius: 10px;
        background-color: #ccc;
        margin-top: 50px;
}

.light-theme .post_img {
        border: 1px solid var(--border-radius)
}

.dark-theme .post_img {
        border: 1px solid var(--border-radius)
}

/* POST TEXT */

.user_avatar {
        position: absolute;
        width: 50px;
        top: 10px;
        left: 20px;
        border-radius: 50%;
}

.post_author {
        position: absolute;
        top: 20px;
        left: 80px;
        font-size: 18px;
        font-weight: 600;
}

.post_title {
        font-size: 18px;
        font-weight: 900;
}

.post_description {
        word-break: break-all;
        width: 400px;
        text-align: center;
        text-align-last: center;
}

.post_created_at {
        position: absolute;
        top: 20px;
        right: 10px;
        font-size: 12px;

}

.post_updated_at {
        position: absolute;
        top: 40px;
        right: 10px;
        font-size: 12px;
}