body{
         background-color: black;
         margin: 0px;
         max-height:auto;
}

p {
}

    .header {
        display: block;
        text-align: center;
    }

    .header__logo {
        display: grid;
    }

    .header__title {
        text-align: center;
    }

.sidebar {
    width: 60px;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

.sidebar:hover {
}

.sidebar:hover > .sidebar__item > .item__text {
    opacity: 1;
}

hr {
    margin: 15px 0;
}

.sidebar__item {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

    width: 40px;
    flex-shrink: 0;
    fill: #424242;
}
.sidebar__item .item__text {
    opacity: 0;
    margin-left: 15px;
    white-space: nowrap;
}
