{% extends 'layout.html' %}
{% load static %}
{% block title %}О нас{% endblock %}

{% block content %}
    <div class="us">
        <div class="us_row">
            <div class="us_column">
                <img src="{% static '/pictures/pig-work.gif' %}">
            </div>
            <div class="us_column">
                <h1>О нашей команде</h1>
                <hr class="ahr">
                <p>Мы, команда <span style="color: #7c4958">3pigs.Inc</span>, создаем проекты,
                которые облегчают Вашу повседневную жизнь. 
                Наша команда состоит из трёх человек.</p>
            </div>
        </div>
    </div>
{% endblock %}