{% extends 'layout.html' %}
{% load static %}
{% block title %}О нас{% endblock %}

{% block button_login_content %}
{% if not user.is_authenticated %}
    <a class="button" href="{% url 'signup' %}">
        <div id="auth-icon">
        </div>
        <p>Войти</p>
    </a>
{% endif %}
{% endblock %}

{% block content %}
    <div class="us">
        <div class="us_row">
            <div class="us_column">
                <img src="{% static '/pictures/pig-work.gif' %}">
            </div>
            <div class="us_column">
                <h1>О нашей команде</h1>
                <hr class="ahr">
                <p>
                    <span style="color: var(--accent-color)">3pigs.inc</span> — это независимая команда разработчиков, 
                    создающая уникальные и увлекательные проекты. 
                    Наша миссия — воплощать в жизнь захватывающие идеи и создавать проекты, 
                    которые будут вас вдохновлять и увлекать.
                </p>
            </div>
        </div>
        <div class="team">
            <h1>Команда</h1>
        </div>
        <div class="us_row">
            <div class="us_column1">
                <span class="circle-image">
                    <img src="{% static '/pictures/about_us/ilya.jpg' %}">
                </span>
                <h2>Илья Карпов</h2>
                <p>Занимался Frontend-разработкой сайта и созданием ПК-приложения.</p>
            </div>
            <div class="us_column1">
                <span class="circle-image">
                    <img src="{% static '/pictures/about_us/artemiy.jpg' %}">
                </span>
                <h2>Артемий Куцев</h2>
                <p>Отвечал за Backend-разработку сайта и разработку нейросети.</p>
            </div>
            <div class="us_column1">
                <span class="circle-image">
                    <img src="{% static '/pictures/about_us/kirill.jpg' %}">
                </span>
                <h2>Кирилл Колодинов</h2>
                <p>Разрабатывал мобильное приложение и создавал дизайн.</p>
            </div>
        </div>
    </div>
{% endblock %}