{% extends 'layout.html' %}
{% load static %}
{% block title %}Редактировать рецепт{% endblock %}

{% block content %}
    <script src="{% static '/js/script_post.js' %}" type="text/javascript" defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
    <div class="centerbox2">
      <div class="container2">
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="avatar">
              <img id="preview" class="dish" src="{% if post.post_image %}{{ post.post_image.url }}{% else %}{% static '/pictures/nophoto.svg' %}{% endif %}" alt="Ваше изображение">
              <input type="file" name="post_image" id="id_image">
            </div>
            <div id="cut" style="display: none;">
              <div class="modal-content">
                  <span class="close" id="closeModal">&times;</span>
                  <img id="imageToCrop">
                  <button id="cropButton" type="button">Обрезать и сохранить</button>
              </div>
            </div>
            <div class="form-group">
              {{ post.title }}
              <label for="{{ form.title.id_for_label }}" class="form-label">Заголовок</label>
            </div>
            <div class="post_column">
              <label>Описание:</label>
              {{ post.description }}
            </div>
            <button type="submit" class="btn btn-success">Редактировать рецепт</button>
          </form>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
{% endblock %}