<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Холостяк-Домохозяйка</title>
    <meta name="description" content="Описание страницы" />

    <link rel="stylesheet" type="" href="" />
    <link rel="icon" href="">
    <script type="" src=""></script>

    <script src=""></script>
  </head>
  <body>
    <header>
       <div class="burger-menu">
            <input id="menu__toggle" type="checkbox">
            <label class="menu__bottom" for="menu__toggle">
                <span></span>
            </label>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#"><b>На главную</b></a>
                    </li>>
                </ul>
            </nav>
        </div>
      <nav>
        Навигация
      </nav>
    </header>
    <main>
      <section>
        <h1>Заголовок страницы</h1>
        Основная часть
      </section>
    </main>
    <aside>
      Боковая колонка (сайдбар)
    </aside>
    <footer>
      Подвал
    </footer>
  </body>
</html>