<!DOCTYPE HTML>
<html lang="ru">
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <title>Холостяк-Домохозяйка</title>
    <meta name="description" content="Описание страницы" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link rel="icon" href="{% static '/pictures/logo.ico' %}">
    <script type="" src=""></script>
    <script src=""></script>
  </head>
  <body>
    <header>
      <nav>
        Навигация
      </nav>
    </header>
    <main>
      <section>
        <h1>Заголовок страницы</h1>
        Основная часть
      </section>
    </main>
    <aside>
     <div class="sidebar">
              <li class="sidebar__item">

                <img class="icon" src="{% static '/pictures/pig-work.gif' %}"/>

                <div class="item__text">

                  <a>Холостяк-Домохозяйка</a>
                </div>
              </li>
              <hr>
              <li class="sidebar__item">

                <img class="icon" src="{% static '/pictures/home_light.png' %}"/>

                <div class="item__text">

                  <a href="">Главная</a>
                </div>
              </li>
              <li class="sidebar__item">

                <img class="icon" src="{% static '/pictures/home_light.png' %}"/>

                <div class="item__text">

                  <a href="">Приложение</a>
                </div>
              </li>
              <li class="sidebar__item">

                <img class="icon" src="{% static '/pictures/home_light.png' %}"/>

                <div class="item__text">

                  <a href="">Подборки</a>
                </div>
              </li>
              <li class="sidebar__item">

                <img class="icon" src="{% static '/pictures/home_light.png' %}"/>

                <div class="item__text">

                  <a href="">Личный кабинет</a>
                </div>
              </li>
              <li class="sidebar__item">

                <img class="icon" src="{% static '/pictures/home_light.png' %}"/>

                <div class="item__text">

                  <a href="">О нас</a>
                </div>
              </li>
              <li class="sidebar__item">

                <img class="icon" src="{% static '/pictures/home_light.png' %}"/>

                <div class="item__text">

                  <a href="">Настройки</a>
                </div>
              </li>
     </div>
    </aside>
    <footer>
      Подвал
    </footer>
  </body>
</html>