<!DOCTYPE HTML>
<html lang="ru">
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Описание страницы" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link rel="icon" href="{% static '/pictures/logotitle.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <script src="{% static '/js/script.js' %}" type="text/javascript" defer></script>
    <script src=""></script>
  </head>
  <body>
  <div class="wrapper">
    <header id="name-section">
        <div class="logo">
          <img alt="логотип" src="{% static '/pictures/pig.png' %}">
        </div>
        <div class="authors" id="tg">
          <p>3pigs.inc</p>
          <img alt="tg" src="{% static '/pictures/tg.png' %}">
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
      <p>2024</p>
    </footer>
  </div>
  </body>
</html>