<!DOCTYPE HTML>
<html lang="ru">
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Описание страницы" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style_login.css' %}">
    <link rel="icon" href="{% static '/pictures/logotitle.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <script src="{% static '/js/script.js' %}" type="text/javascript" defer></script>
  </head>
  <body>
  <div class="wrapper">
    <header id="name-section">
        <div class="logo">
          <img alt="логотип" src="{% static '/pictures/pig.png' %}">
        </div>
        <div class="authors" id="tg">
          <p>3pigs.inc</p>
          <img alt="tg" src="{% static '/pictures/tg.png' %}">
        </div>
      {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button class="logout" type="submit">
            <img alt="войти" src="{% static '/pictures/light_theme/logout_light.png' %}">
            <p>Выйти</p>
          </button>
        </form>
      {% endif %}
      {% block button_login_content %}
      {% endblock %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <div class="sidebar collapsed">
      <li class="sidebar__item">

        <img class="icon_hover" src="{% static '/pictures/dark_theme/menu_dark.png' %}"/>

        <div class="item__text">

          <p>Навигация</p>
          
        </div>
        <span class="close-btn">&times;</span>
      </li>
      <hr class="shr">
      <li class="sidebar__item">

        <img class="icon 1" src="{% static '/pictures/light_theme/home_light.png' %}"/>

        <div class="item__text">

          <a href="{% url 'home' %}">Главная</a>
        </div>
      </li>
      <li class="sidebar__item">

        <img class="icon 2" src="{% static '/pictures/light_theme/programm_light.png' %}"/>

        <div class="item__text">

          <a href="">Приложение</a>
        </div>
      </li>
      <li class="sidebar__item">

        <img class="icon 3" src="{% static '/pictures/light_theme/recipe_light.png' %}"/>

        <div class="item__text">

          <a href="">Подборки</a>
        </div>
      </li>
      <li class="sidebar__item">

        <img class="icon 4" src="{% static '/pictures/light_theme/user_light.png' %}"/>

        <div class="item__text">

          <a href="">Личный кабинет</a>
        </div>
      </li>
      <li class="sidebar__item">

        <img class="icon 5" src="{% static '/pictures/light_theme/pigs_light.png' %}"/>

        <div class="item__text">

          <a href="{% url 'about' %}">О нас</a>
        </div>
      </li>
    </div>
    <footer>
      <p>2024</p>
    </footer>
  </div>
  </body>
</html>