{% extends 'layout.html' %}
{% load static %}
{% block title %}Создание рецепта{% endblock %}

{% block content %}
<script src="{% static '/js/script_post.js' %}" type="text/javascript" defer></script>
<script src="{% static '/js/script_steps.js' %}" type="text/javascript" defer></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
<div class="centerbox2">
        {% if messages %}
    <div class="messages-popup">
        <ul class="messages">
          {% for message in messages %}
            {% if "error" in message.tags %}
            <p>Ошибка:</p>
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% elif "success" in message.tags %}
            <p>Успех:</p>
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endif %}
          {% endfor %}
          <span class="close-button">&times;</span>
        </ul>
    </div>
    {% endif %}
  <div class="container2" id="steps_height">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="avatar">
            <img id="preview" class="dish" src="{% if form.instance.image %}{{ form.instance.image.url }}{% else %}{% static '/pictures/nophoto.svg' %}{% endif %}" alt="Ваше изображение">
            <input type="file" name="post_image" id="id_image">
        </div>
        <div id="cut" style="display: none;">
            <div class="modal-content">
                <span class="close" id="closeModal">&times;</span>
                <img id="imageToCrop">
                <button id="cropButton" type="button">Обрезать и сохранить</button>
            </div>
        </div>
        <div class="form-group">
            <input name="title" id="title" type="text" placeholder="Заголовок" required>
            <label for="title" class="form-label">Заголовок</label>
        </div>
        <div class="post_column">
            <label>Описание:</label>
            <textarea name="description" placeholder="Описание рецепта" required></textarea>
        </div>
        {{ formset.management_form }}
        <input type="hidden" name="steps-TOTAL_FORMS" id="id_steps-TOTAL_FORMS" value="1">
            <h3>Шаги</h3>
            <div class="post_column" id="formset-container">
                <div class="step-form">
                    <div class="avatar">
                        <img id="preview1" class="dish" src="{% if form.instance.image %}{{ form.instance.image.url }}{% else %}{% static '/pictures/nophoto.svg' %}{% endif %}" alt="Ваше изображение">
                        <input type="file" name="steps-0-step_image" id="id_steps-0-step_image" class="step-image" style="display: none;">
                    </div>
                    <div id="cutStep" style="display: none;">
                        <div class="modal-content">
                            <span class="close" id="closeModalStep">&times;</span>
                            <img id="imageToCropStep">
                            <button id="cropButtonStep" type="button">Обрезать и сохранить</button>
                        </div>
                    </div>
                    <label for="id_steps-0-step_des">Шаг 1:</label>
                    <textarea name="steps-0-step_des" id="id_steps-0-step_des" placeholder="Ваш рецепт" required></textarea>
                </div>
            </div>
            <div class="post_row">
                <button type="button" id="add-step-btn">Добавить шаг</button>
                <button type="button" id="delete-step-btn">Удалить шаг</button>
            </div>
        <button type="submit" class="btn btn-success">Создать рецепт</button>
    </form>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
{% endblock %}