{% extends 'layout.html' %}
{% load static %}
{% block title %}Создание рецепта{% endblock %}

{% block content %}
<script src="{% static '/js/script_post.js' %}" type="text/javascript" defer></script>
<div class="centerbox2">
        {% if messages %}
    <div class="messages-popup">
        <ul class="messages">
          {% for message in messages %}
            {% if "error" in message.tags %}
            <p>Ошибка:</p>
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% elif "success" in message.tags %}
            <p>Успех:</p>
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endif %}
          {% endfor %}
          <span class="close-button">&times;</span>
        </ul>
    </div>
    {% endif %}
  <div class="container2">
     <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="avatar">
          <img id="preview" class="dish" src="{% if form.instance.image %}{{ form.instance.image.url }}{% else %}{% static '/pictures/nophoto.svg' %}{% endif %}" alt="Ваше изображение">
          <input type="file" name="post_image" id="id_image">
        </div>
        <div class="form-group">
          <input name="title" type="text" placeholder="Заголовок" required>
          <label for="{{ form.title.id_for_label }}" class="form-label">Заголовок</label>
         </div>
        <div class="post_column">
          <label for="description">Описание:</label>
          <textarea name="description" placeholder="Ваш рецепт" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Добавить рецепт</button>
      </form>
  </div>
</div>
{% endblock %}