{% extends 'layout.html' %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}

{% block content %}
<script src="{% static '/js/script_changepassword.js' %}" type="text/javascript" defer></script>
<div class="centerbox1">
    {% if messages %}
    <div class="messages-popup">
        <ul class="messages">
            <p>Ошибка:</p>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <div class="messages-header">
            <span class="close-button">&times;</span>
        </div>
    </div>
{% endif %}
<div class="container1">
    <form method="POST">
    {% csrf_token %}
    <h1>Сброс пароля</h1>
    <div class="form-group">
        {{ form.email }}
        <label for="{{ form.email.id_for_label }}" class="form-label">E-mail</label>
        <div class="svg-icon">
            {% include 'svg/mail_dark.svg' %}
        </div>
    </div>
    <button type="submit">Запросить новый пароль</button>
    </form>
</div>
</div>
{% endblock %}