{% extends 'layout.html' %}
{% load static %}
{% block title %}Рецепт{% endblock %}

{% block content %}
<script src="{% static '/js/script_view.js' %}" type="text/javascript" defer></script>
    <div class="centerbox2" id="view">
      <div class="container2" id="steps_height">
        {% for profile in profiles %}
          {% if profile.user == post.author %}
          <a href="{% url 'profile_view' profile.id %}"><img class="user_avatar" src="{% if profile.image %}{{ profile.image.url }}{% else %}{% static '/pictures/no_photo.png' %}{% endif %}" alt="Ваше изображениеe"></a>
          <a href="{% url 'profile_view' profile.id %}" style="text-decoration: none; color: var(--text-color);"><p class="post_author">{{ post.author }}</p></a>
          {% endif %}
        {% endfor %}
        
        <p class="post_created_at">{{ post.created_at }}</p>
        {% if post.update_at != post.created_at %}
          <p class="post_updated_at">Изменено: {{ post.update_at }}</p>
        {% endif %}
        <form style="padding-top: 50px;">
            <div class="avatar">
              <img id="preview" class="dish" src="{% if post.post_image %}{{ post.post_image.url }}{% else %}{% static '/pictures/nophoto.svg' %}{% endif %}" alt="Ваше изображение">
            </div>
            <div class="form-group">
              <input type="text" value="{{ post.title }}" readonly>
              <label class="form-label">Заголовок</label>
            </div>
            <div class="post_column">
              <label>Описание:</label>
              <textarea readonly>{{ post.description }}</textarea>
            </div>
             {{ formset.management_form }}
            <h3>Шаги</h3>
            <div class="post_column" id="formset-container">
              {% for step in formset %}
              <div class="step-form">
                  <div class="avatar">
                      <img id="preview1" class="dish" src="{% if step.step_image %}{{ step.step_image.url }}{% else %}{% static 'pictures/nophoto.svg' %}{% endif %}" alt="Ваше изображение">
                  </div>
                  <label for="id_steps-{{ forloop.counter0 }}-step_des">Шаг {{ forloop.counter }}:</label>
                  <textarea name="steps-{{ forloop.counter0 }}-step_des" id="id_steps-{{ forloop.counter0 }}-step_des" readonly>{{ step.step_des }}</textarea>
              </div>
              {% endfor %}
          </div>
        </form>
        <div class="like">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <a class="like-button" data-post-id="{{ post.id }}">
              {% if post.id in liked_posts %}
                  <img src="{% static '/pictures/like-hover.svg' %}" style="cursor: pointer;">
              {% else %}
                  <img src="{% static '/pictures/like.svg' %}" style="cursor: pointer;">
              {% endif %}
          </a>
          <span class="like-count">{{ post.likes.count }}</span>
        </div>
        <div class="views">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <div class="svg-icon">
            {% include 'svg/eye_dark.svg' %}
          </div>
          <span class="view-count" data-post-id="{{ post.id }}">{{ post.views }}</span>
        </div>
      </div>
    </div>
{% endblock %}