{% extends 'layout.html' %}
{% load static %}
{% block title %}Подборки{% endblock %}

{% block content %}
<div class="centerbox2">
    <div class="container2">
        {% for post in form %}
            {{ post.author }} <br>
            {{ post.title }} <br>
            {{ post.description }} <br>
            {{ post.created_at }} <br>
            {{ post.update_at }} <br>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
        <a class="new_post" href="{% url 'new_post' %}">Добавить рецепт</a>
    {% endif %}

</div>
{% endblock %}