{% extends 'layout.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}

{% block content %}
<script src="{% static '/js/script_profile.js' %}" type="text/javascript" defer></script>
<div class="centerbox1">
    {% if messages %}
    <div class="messages-popup">
        <ul class="messages">
        {% for message in messages %}
            {% if "error" in message.tags %}
            <p>Ошибка:</p>
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% elif "success" in message.tags %}
            <p>Успех:</p>
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endif %}
        {% endfor %}
        <span class="close-button">&times;</span>
        </ul>
    </div>
    {% endif %}
    <aside class="sidebarp">
        <ul>
            <li class="active" data-target="personal-info">
                <div class="svg-li">
                    {% include 'svg/personal-info.svg' %}
                </div>
                Личные данные
            </li>
            <li data-target="security-info">
                <div class="svg-li">
                    {% include 'svg/shield.svg' %}
                </div>
                Безопасность и вход
            </li>
            <li data-target="subscription-info">
                <div class="svg-li">
                    {% include 'svg/sub.svg' %}
                </div>
                Подписка
            </li>
        </ul>
    </aside>
    <div class="container1">
        <div class="content">
            <div id="personal-info" class="content-box">
                <h1>Профиль {{ user.username }}</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="avatar">
                        <img id="preview" src="{% if form1.instance.image %}{{ form1.instance.image.url }}{% else %}{% static '/pictures/no_photo.png' %}{% endif %}" alt="Ваше изображение">
                        <input type="file" name="image" id="id_image">
                        <button type="submit" name="action" value="delete_avatar">Удалить аватар</button>
                    </div>
                    <div class="form-group">
                        {{ form.username }}
                        <label for="{{ form.username.id_for_label }}" class="form-label">Логин</label>
                        <div class="svg-icon">
                            {% include 'svg/login_dark.svg' %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}" class="form-label">E-mail</label>
                        <div class="svg-icon">
                            {% include 'svg/mail_dark.svg' %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form1.phone }}
                        <label for="{{ form1.phone.id_for_label }}" class="form-label">Номер телефона</label>
                        <div class="svg-icon">
                            {% include 'svg/phone_dark.svg' %}
                        </div>
                    </div>
                    <button type="submit" name="action" value="update">Изменить данные</button>
                </form>
            </div>
    
            <div id="security-info" class="content-box" style="display:none;">
                <h1>Безопасность и вход</h1>
            </div>
    
            <div id="subscription-info" class="content-box" style="display:none;">
                <h1>Подписка</h1>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
{% endblock %}