{% extends 'layout.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}

{% block content %}
{% if messages %}
<div class="messages-popup">
    <ul class="messages">
      {% for message in messages %}
        {% if "error" in message.tags %}
        <p>Ошибка:</p>
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% elif "success" in message.tags %}
        <p>Успех:</p>
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endif %}
      {% endfor %}
      <span class="close-button">&times;</span>
    </ul>
</div>
{% endif %}
    {{ user.username }}
    {{ user.email }}
    <form method="post">
        {% csrf_token %}
        {{ form.username }}
        {{ form.email }}
        <button type="submit">Изменить данные</button>
    </form>
{% endblock %}