{% extends 'layout.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}

{% block content %}
<script src="{% static '/js/script_profile.js' %}" type="text/javascript" defer></script>
<script src="{% static '/js/script_post.js' %}" type="text/javascript" defer></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
<div class="centerbox1">
    {% if messages %}
    <div class="messages-popup">
        <ul class="messages">
        {% for message in messages %}
            {% if "error" in message.tags %}
            <p>Ошибка:</p>
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% elif "success" in message.tags %}
            <p>Успех:</p>
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endif %}
        {% endfor %}
        <span class="close-button">&times;</span>
        </ul>
    </div>
    {% endif %}
    <aside class="sidebarp">
        <ul>
            <li class="active" data-target="personal-info">
                <div class="svg-li1">
                    {% include 'svg/personal-info.svg' %}
                </div>
                Личные данные
            </li>
            <li data-target="security-info">
                <div class="svg-li">
                    {% include 'svg/shield.svg' %}
                </div>
                Безопасность и вход
            </li>
            <li data-target="posts-info">
                <div class="svg-li">
                    {% include 'svg/myrecipe.svg' %}
                </div>
                Мои рецепты
            </li>
            <li data-target="subscription-info">
                <div class="svg-li">
                    {% include 'svg/sub.svg' %}
                </div>
                Подписка
            </li>
        </ul>
    </aside>
    <div class="container1">
        <div class="content">
            <div id="personal-info" class="content-box">
                <h1>Профиль {{ user.username }}</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="avatar">
                        <img id="preview" src="{% if form1.instance.image %}{{ form1.instance.image.url }}{% else %}{% static '/pictures/no_photo.png' %}{% endif %}" alt="Ваше изображение">
                        <input type="file" name="image" id="id_image">
                        <button type="submit" name="action" value="delete_avatar">Удалить аватар</button>
                    </div>
                    <div id="cut" style="display: none;">
                        <div class="modal-content">
                            <span class="close" id="closeModal">&times;</span>
                            <img id="imageToCrop">
                            <button id="cropButton" type="button">Обрезать и сохранить</button>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.username }}
                        <label for="{{ form.username.id_for_label }}" class="form-label">Логин</label>
                        <div class="svg-icon">
                            {% include 'svg/login_dark.svg' %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}" class="form-label">E-mail</label>
                        <div class="svg-icon">
                            {% include 'svg/mail_dark.svg' %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form1.phone }}
                        <label for="{{ form1.phone.id_for_label }}" class="form-label">Номер телефона</label>
                        <div class="svg-icon">
                            {% include 'svg/phone_dark.svg' %}
                        </div>
                    </div>
                    <button type="submit" name="action" value="update">Изменить данные</button>
                </form>
            </div>
    
            <div id="security-info" class="content-box" style="display:none;">
                <h1>Безопасность и вход</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form2.old_password }}
                        <label for="{{ form2.old_password.id_for_label }}" class="form-label">Старый пароль</label>
                        <div class="eye"></div>
                    </div>
                    <div class="form-group">
                        {{ form2.new_password1 }}
                        <label for="{{ form2.new_password1.id_for_label }}" class="form-label">Новый пароль</label>
                        <div class="eye"></div>
                    </div>
                    <div class="form-group">
                        {{ form2.new_password2 }}
                        <label for="{{ form2.new_password2.id_for_label }}" class="form-label">Повторите пароль</label>
                        <div class="eye"></div>
                    </div>
                    <button type="submit" name="action" value="change_password">Сменить пароль</button>
                </form>
            </div>

            <div id="posts-info" class="content-box" style="display:none;">
                <h1 class="recipe_title">Мои рецепты</h1>
                <form method="post">
                    {% csrf_token %}
                    {% if form3 %}
                        {% for post in form3 %}
                        <div class="container2">
                            <img class="post_img" src="{% if post.post_image %}{{ post.post_image.url }}{% else %}{% static '/pictures/nophoto.svg' %}{% endif %}">
                            {% for profile in profiles %}
                                {% if profile.user == post.author %}
                                    <img class="user_avatar" src="{% if profile.image %}{{ profile.image.url }}{% else %}{% static '/pictures/no_photo.png' %}{% endif %}" alt="Ваше изображениеe">
                                {% endif %}
                            {% endfor %}
                            <p class="post_author">{{ post.author }}</p>
                            <p class="post_title">{{ post.title }}</p>
                            <p class="post_description">{{ post.description }}</p>
                            <p class="post_created_at">{{ post.created_at }}</p>
                            {% if post.update_at and post.update_at != post.created_at %}
                                <p class="post_updated_at">Изменено: {{ post.update_at }}</p>
                            {% endif %}
                            <a class="buttona" href="{% url 'edit_post' post.id %}">Редактировать рецепт</a>
                            <a class="buttona" href="{% url 'delete_post' post.id %}">Удалить рецепт</a>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>Вы еще не добавляли свои рецепты</p>
                    {% endif %}
                </form>
            </div>
    
            <div id="subscription-info" class="content-box" style="display:none;">
                <h1>Подписка</h1>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
{% endblock %}