{% extends 'layout.html' %}
{% block title %}Рецепты{% endblock %}

{% block content %}
<style>
    .btn {
        background-color: #4CAF50;
        color: white;
        padding: 12px 24px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
    }
    .result {
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }
</style>
<div class="centerbox2">
    {% for dish, data in recipes.items %}
        <div class="container2">
            <p class="post_title">{{ dish }}</p>
            <a class="buttona" href="{% url 'recipe_detail' dish %}">Посмотреть рецепт</a>
        </div>
    {% endfor %}
    <a href="{% url 'app' %}" class="new_post">Вернуться к выбору ингредиентов</a>
</div>
{% endblock %}