{% extends 'layout.html' %}

{% block title %}{{ dish }}{% endblock %}

{% block content %}
    <div class="centerbox2">
        <div class="container2" style="max-height: fit-content;">
            <h2>{{ dish }}</h2>
            <h3>Ингредиенты:</h3>
            <ul>
                {% for ingredient in ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <h3>Шаги:</h3>
            {% for step in steps %}
                <div class="step-form">
                    <label>{{ step.title }}:</label>
                    <textarea class="recipe_detail" readonly>{{ step.text }}</textarea>
                </div>
            {% endfor %}
            <a href="{% url 'recipe_result' %}" class="buttona">Вернуться к результатам</a>
        </div>
    </div>

<script>
    function autoResizeTextarea(textarea) {
    textarea.style.height = 'auto';
    textarea.style.height = (textarea.scrollHeight + 5) + 'px';
  }
  
  window.addEventListener('load', () => {
    const textareas = document.querySelectorAll('textarea');
  
    textareas.forEach(textarea => {
      autoResizeTextarea(textarea);
  
      textarea.addEventListener('input', () => autoResizeTextarea(textarea));
    });
  });
</script>
{% endblock %}