{% extends 'layout.html' %}
{% load static %}
{% block title %}Войти{% endblock %}

{% block content %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<script src="{% static '/js/script_login.js' %}" type="text/javascript" defer></script>
<div class="container" id="container">
    <div class="form-container sign-up">
        <form method="post">
            {% csrf_token %}
            <h1>Create Account</h1>
            <div class="social-icons">
                <a href="#" class="icons"><i class='bx bxl-google'></i></a>
                <a href="#" class="icons"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="icons"><i class='bx bxl-github'></i></a>
                <a href="#" class="icons"><i class='bx bxl-linkedin'></i></a>
            </div>
            <span>Register with E-mail</span>
            {{ form.username }}
            {{ form.phone }}
            {{ form.email }}
            {{ form.password1 }}
            {{ form.password2 }}
            <button type="submit" name="reg">Зарегистрироваться</button>
        </form>
    </div>


    <div class="form-container sign-in">
        <form method="post">
            {% csrf_token %}
            <h1>Sign In</h1>
            <div class="social-icons">
                <a href="#" class="icons"><i class='bx bxl-google'></i></a>
                <a href="#" class="icons"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="icons"><i class='bx bxl-github'></i></a>
                <a href="#" class="icons"><i class='bx bxl-linkedin'></i></a>
            </div>
            <span>Login With Email & Password</span>
            {{ form1.name }}
            {{ form1.password }}
            <a href="#">Forget Password?</a>
            <button type="submit" name="log">Войти</button>
        </form>
    </div>


    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome To <br>Code with Patel</h1>
                <p>Sign in With ID & Passowrd</p>
                <button class="hidden" id="log_btn">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hii Coder's</h1>
                <p>Join "Code With Patel" to Improve Your Coding Skills</p>
                <button class="hidden" id="reg_btn">Sign Up</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}