{% extends 'layout.html' %}
{% load static %}
{% block title %}Вход{% endblock %}

{% block content %}

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<script src="{% static '/js/script_login.js' %}" type="text/javascript" defer></script>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="centerbox">
<div class="container" id="container">
    <div class="form-container sign-up">
        <form method="post">
            {% csrf_token %}
            <h1>Создать аккаунт</h1>
            <div class="social-icons">
                <a href="#" class="icons"><i class='bx bxl-google'></i></a>
                <a href="#" class="icons"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="icons"><i class='bx bxl-github'></i></a>
                <a href="#" class="icons"><i class='bx bxl-linkedin'></i></a>
            </div>
            {{ form.non_field_errors }}
            {{ form.username }}
            {{ form.username.errors }}
            {{ form.phone }}
            {{ form.phone.errors }}
            {{ form.email }}
            {{ form.email.errors }}
            {{ form.password1 }}
            {{ form.password1.errors }}
            {{ form.password2 }}
            {{ form.password2.errors }}
            <button type="submit" name="reg">Зарегистрироваться</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form method="post">
            {% csrf_token %}
            <h1>Вход в аккаунт</h1>
            <div class="social-icons">
                <a href="#" class="icons"><i class='bx bxl-google'></i></a>
                <a href="#" class="icons"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="icons"><i class='bx bxl-github'></i></a>
                <a href="#" class="icons"><i class='bx bxl-linkedin'></i></a>
            </div>
            {{ form1.name }}
            {{ form1.password }}
            <a href="#">Забыли пароль?</a>
            <button type="submit" name="log">Войти</button>
        </form>
    </div>


    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>ПокушAI</h1>
                <p>Уже есть аккаунт?</p>
                <button class="hidden" id="log_btn">Войти</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Добро пожаловать</h1>
                <p>У вас еще нет аккаунта?</p>
                <button class="hidden" id="reg_btn">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
{% endblock %}